.navbar {
  margin-bottom: 30px;
}

.img-responsive {
  max-width: 100%;
}
.card-img-top {
  border-left: 1px solid rgba(0,0,0,.125);
}
.list-group-flush .list-group-item {
  border-left: 1px solid rgba(0,0,0,.125);
}
